<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkHourCalculator">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.WorkHourCalculator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".AddRecordActivity"
            android:label="添加记录"
            android:theme="@style/Theme.WorkHourCalculator" />
        
        <activity
            android:name=".ClockInActivity"
            android:label="打卡"
            android:theme="@style/Theme.WorkHourCalculator" />
        
        <activity
            android:name=".CalendarActivity"
            android:label="日历"
            android:theme="@style/Theme.WorkHourCalculator" />
            
        <activity
            android:name=".ViewRecordsActivity"
            android:label="查看记录"
            android:theme="@style/Theme.WorkHourCalculator" />
            
        <activity
            android:name=".StatisticsActivity"
            android:label="统计分析"
            android:theme="@style/Theme.WorkHourCalculator" />
    </application>

</manifest>
